*{
    margin: 0;
    padding: 0;
}
.alert {
    background-color:#5624D0 ;
    color: white;
    margin: auto;
}

#carouselExampleInterval{
position: relative;
top: -47px;
}

.cart-text{
    position: relative;
    top: -30px;
    left: 30px;
}

#courses-in-cart{
    position: relative;
    top: -20px;
    left: 30px;
}

#emptycart{
    position: relative;
    top: 10px;
    left:600px;
}

#emptytext{
    position: relative;
    top: 10px;
    left: 550px;
}

#shopnow{
    position: relative;
    top: 20px;
    left: 650px;
    background-color: #5624D0;
    border-color: none
    ;
}

.headings{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head1{
    display: flex;
    
}
.head2{
    display: flex;
}

.head3{
    display: flex;
}
.img1{
    margin-right: 1vw;
}

.stud{
    margin-left: 5vw;
    margin-top: 4vw;
}

.courses{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw ;
    flex-wrap: wrap ;
}

.categories{
    margin-top: 4vw;
    margin-left: 5vw;
}

.illustrations{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured{
    display: flex;
    margin-left: 5vw;
    margin-top: 3vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ins{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
    flex-wrap: wrap;
}

.ins-text{
    margin-left: 5vw;
}

.start{
    color: white;
    background-color:#1c1d1f;
    padding: 8px;
}

