*{
    margin: 0;
    padding: 0;
}
.alert {
    background-color:#5624D0 ;
    color: white;
    margin: auto;
}

#carouselExampleInterval{
position: relative;
top: -47px;
}

.cart-text{
    position: relative;
    top: -30px;
    left: 30px;
}

#courses-in-cart{
    position: relative;
    top: -20px;
    left: 30px;
}

#emptycart{
    position: relative;
    top: 10px;
    left:600px;
}

#emptytext{
    position: relative;
    top: 10px;
    left: 550px;
}

#shopnow{
    position: relative;
    top: 20px;
    left: 650px;
    background-color: #5624D0;
    border-color: none
    ;
}